header{
    height: 70px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: black solid 1px;
    width: 200px;
    text-align: center;
}

img{
    height: 170px;
}

#entradaBusqueda{
    width: 300px;
}